body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
input[type="checkbox"]
{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check
{
    position: relative;
    top: 100px;
    left: 10px;
    display: block;
    width: 70px;
    height: 30px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .check
{
    background: #fff;
    box-shadow: 0 0 0 3000px #303030;
}
.check:before
{
    content: '';
    position: absolute;
    top: 2px;
    left:  2px;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check:before
{
transform: translateX(-50px);
}
.check:after
{
    content: '';
    position: absolute;
    top: 2px;
    right:  2px;
    background: #092c3e;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check:after
{
transform: translateX(0px);
}
{
    margin: 0;
    padding: 0;
    max-width: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    min-width: 100px;
    background: #9cb1da;

}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 70;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background-color: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.logo-png
{
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#textos
{
    position: absolute;
    color: #9000ffa0;
    white-space: normal;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #bd0cea;
}
.sec p
{
    font-size: 1em;
    color: #fff; 
}
.sec h1
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #bd0cea;
}
.sec a
{
    font-size: 1em;
    color: #fff; 
}
.sec g
{
    font-size: 1em;
    color: rgb(0, 248, 207); 
}

#btn2
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 40px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(1000px);

}
.sec
{
    position: relative;
    padding: 200px;
    background: #1c0522;
    transform: translateY(1900px);
    width: 900px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    left: -32.5em;
    

}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #bd0cea;
}
.sec p
{
    font-size: 1em;
    color: #fff; 
}
.sec h1
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #bd0cea;
}
.sec a
{
    font-size: 1em;
    color: #fff; 
}
.sec g
{
    font-size: 1em;
    color: rgb(0, 248, 207); 
}
.sec i
{
    font-size: 1em;
    color: #fff(0, 248, 207); 
}
.sec h3
{
    font-size: 1em;
    color: rgb(0, 248, 207); 
}
#btn3
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 40px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    color: #1c0522;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(10px);
    left: ;
}
------------
* {
  font-size: 1.3vw;
  font-family: "Epilogue", sans-serif;
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #90a4ae;
}

body {
  background: #ccc;
}
body .card {
  height: 45vw;
  width: 35vw;
  background-color: white;
  margin-left: 30vw;
  margin-top: 5vw;
  box-shadow: 2vw 2vw 12vw 3vw #ccc;
}
body .card #header {
  height: 5vw;
  background: #000;
  padding: 0vw;
}
body .card #header h1 {
  color: #fff;
  font-size: 2vw;
  font-family: "Finger Paint", cursive;
  padding: 1vw;
}
body .card #message-section::-webkit-scrollbar {
  width: 10px;
}
body .card #message-section {
  height: 32vw;
  padding: 0 2.5vw;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body .card #message-section::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body .card #message-section::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
body .card #message-section #bot,
body .card #message-section #user {
  position: relative;
  bottom: 0;
  min-height: 1.5vw;
  border: 0.15vw solid #777;
  background-color: #fff;
  border-radius: 0px 1.5vw 1.5vw 1.8vw;
  padding: 1vw;
  margin: 1.5vw 0;
}
body .card #message-section #user {
  border: 1.5px solid #000;
  border-radius: 1.5vw 0vw 1.5vw 1.8vw;
  background-color: #000;
  float: right;
}
body .card #message-section #user #user-response {
  color: #fff;
}
body .card #message-section .message {
  color: #000;
  clear: both;
  line-height: 1.2vw;
  font-size: 1.2vw;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: 2;
}
body .card #input-section {
  z-index: 1;
  padding: 0 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 6vw;
  width: 100%;
}
body .card #input-section input {
  color: #000;
  min-width: 0.5vw;
  outline: none;
  height: 5vw;
  width: 26vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 0.1vw;
}
body .card .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 1.4vw;
  margin-right: 0vw;
  padding: 0;
  position: relative;
  outline: none;
}
body .card .send .circle {
  position: relative;
  width: 4.8vw;
  height: 4.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .card .send .circle i {
  font-size: 3vw;
  margin-left: -1vw;
  margin-top: 1vw;
}






